.far, .fas {
    font-size: 24px;
}

.quantity {
    
    width: 30px;
    text-align: center;
    border: none;
    background: transparent;

}
.quantity:focus {
    outline: none;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.quantity:focus{
    outline: none;
}