.OrderPage {
    padding-top: 75px;
}

.orderList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.OrderContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteButton {
    margin-left: 30px;
    
}
.parent {
 position: relative;
}

.deleteFood {
    color:#dc3545;
}

.linkBtn {
    border: 1px solid black;
    margin: 0 3px;
}