.OrderPage {
    margin-top: 10%;
}


.deleteButton {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 8px;
   
}
.parent {
 position: relative;
}

.deleteFood {
    color:#dc3545;
}