.OrderPage {
    padding-top: 75px;
    padding-bottom: 75px;
}

.OrderPage-name {
    text-align: center;
    font-size: 36px;
    color: black;
}

.orderList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.OrderContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteButton {
    margin-left: 30px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: .20rem .5rem;
    font-size: .50rem;
    border: none;
}

.deleteButton:hover {
    background-color: transparent;
    border: none;
    color: grey;
}

.parent {
 position: relative;
}

.deleteFood {
    color:#dc3545;
    padding: 0;
}

.linkBtn {
    border: 1px solid black;
    margin: 0 3px;
}

.no-border td {
    border: none;
    text-align: right;
}

.OrderPage-sm-table {
    text-align: right;
    float: right;


}

.OrderPage-order-num {
    display: block;
}

.OrderPage .modal-body {
    padding: 0 0.3rem 0.3rem 0.3rem;
}
