.NavBar {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    border-radius: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    background-color: #FFFFD8;
}
  
.NavBar-link {
    margin: 0 10px;
}

.NavBar-welcome {
    color: grey;
}


.NavBar .button-size {
    font-size: 1rem;
}

.fa-utensils {
    font-size: 24px;
}