.MenuSidebar {
    position: fixed;
    padding: 75px 0 75px 15px;
    z-index: 3;
    top: 0;
    bottom: 0;
}

.MenuSidebar a {
    display: block;
    text-decoration: none;
}

.MenuSidebar a:hover {
    text-decoration: none;
}

.active {
    font-weight: bold;
}

.pointer:hover {
    cursor: pointer;
}

#collapse-sidebar {
    background-color: rgba(255, 255, 255, 0.24);
}