.MenuSidebar {
    position: fixed;
    padding: 35px 0;
    padding-left: 15px;
    margin-top: 5%;
    
    top: 0;
    bottom: 0;
}

a {
    display: block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.active {
    font-weight: bold;
}