.MenuSidebar {
    position: fixed;
    padding: 75px 0 75px 15px;
    
    top: 0;
    bottom: 0;
}

a {
    display: block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.active {
    font-weight: bold;
}

.pointer:hover {
    cursor: pointer;
}